/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: var(--fonte-principal);
    color: var(--branco);
    background-color: var(--preto);
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}


/* variáveis */
:root {
    --fonte-principal: "Source Serif 4", serif;
    --fonte-secundaria: "Radio Canada", serif;

    --preto: #000;
    --branco: #FFF;
    --cinza: #d8d8d83b;
    --cinza2: #575757;
    --azul: #2980b9;
}



.trailer {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;

    iframe {
        border: none;
        box-sizing: border-box;
        width: 100%;
        height: 220px;
    }
}

.descricao_container {
    padding: 0 25px;
    margin-bottom: 20px;

    .titulo_serie {
        display: flex;
        gap: 10px;

        img {
            width: 25px;
        }
    }

    .subtitulo_serie {
        display: flex;
        gap: 10px;
    }
}

.sinopse_serie {
    padding: 0 25px;
}

.episodio {

    .container-botoes {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
    }

    .seletor_episodio {
        padding: 20px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-btn {
        padding: 10px 20px;
        background-color: var(--cinza);
        color: var(--branco);
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        min-width: fit-content;
    }

    .dropdown-btn:hover {
        background-color: var(--azul);
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--cinza2);
        min-width: fit-content;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
    }

    .dropdown-content a {
        color: var(--branco);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: var(--cinza);
    }

    .voltar {
        padding: 10px 20px;
        background-color: var(--cinza);
        color: var(--branco);
        border: none;
        height: fit-content;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
    }

    .voltar:hover {
        background-color: var(--azul);
    }


    iframe {
        border: none;
        width: 100%;
        height: 220px;
    }

    .descricao_episodio {
        padding: 0 25px;
        margin: 80px 0;

        #descricao-texto{
            margin-top: 20px;
        }
    }
}

.hide {
    display: none;
}

footer {
    .direitos {
        background-color: var(--branco);
        color: var(--preto);
        font-weight: 500;
        text-align: center;
    }
}

.rodape {
    width: 100%;
    padding: 15px 25px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px var(--branco);
    font-family: var(--fonte-secundaria);

    .container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 40px;
        gap: 40px;

    }

    .conheca-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }


    .conheca {
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--cinza);
        padding: 10px 20px;
        border-radius: 10px;

        p {
            font-size: 18px;
        }
    }

    .conheca:hover {
        background-color: var(--azul);
    }

    a {
        font-size: 35px;

        i {
            display: flex;
            align-items: center;
        }
    }

    img {
        width: 150px;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .trailer {
        margin-bottom: 30px;

        iframe {
            width: 560px;
            height: 315px;
        }
    }

    .descricao_container {
        padding: 0 64px;
        margin-bottom: 30px;
    }

    .sinopse_serie {
        padding: 0 64px;
    }

    .episodio {
        .seletor_episodio {
            padding: 20px 30px 20px 64px;
        }
    }

    .video-container {
        display: flex;
        justify-content: center;

        img {
            width: 560px;
            height: 315px;
        }

        iframe {
            width: 560px;
            height: 315px;
        }
    }

    .descricao_episodio {
        p {
            padding: 0 64px;
            margin-bottom: 20px;
        }

    }

    .rodape {
        margin-top: 0px;
        flex-direction: row;

        img {
            width: 70%;
        }

        .container-footer {
            width: 50%;
            align-items: start;
        }

        .conheca {
            width: 100%;
        }
    }
}

@media (min-width: 1025px) {
    .trailer {
        margin-bottom: 40px;

        iframe {
            width: 896px;
            height: 504px;
        }
    }

    .descricao_container {
        margin-bottom: 40px;
        font-size: 24px;
        padding: 0 128px;
    }

    .sinopse_serie {
        font-size: 24px;
        padding: 0 128px;
    }

    .episodio {
        .dropdown-btn {
            font-size: 24px;
        }

        .seletor_episodio {
            padding: 20px 30px 20px 128px;
            font-size: 24px;
        }
    }

    .voltar {
        p {
            font-size: 24px;
        }

    }

    .video-container {
        display: flex;
        justify-content: center;

        img {
            width: 896px;
            height: 504px;
        }

        iframe {
            width: 896px;
            height: 504px;
        }
    }

    .descricao_episodio {
        p {
            padding: 0 128px;
            font-size: 24px;
            margin-bottom: 20px;
        }

    }

    .rodape {
        margin-top: 0px;
        flex-direction: row;
        justify-content: space-between;

        font-size: 24px;

        img {
            width: 100%;
        }

        .container-footer {
            width: 50%;
            align-items: center;

        }

        .conheca-container {
            justify-content: center;
        }

        .conheca {
            width: 50%;
        }
    }
}